@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url('/assets/fonts/Inter-Regular.ttf') format('truetype'),
}

@font-face {
    font-family: 'Inter';
    font-weight: 700;
    src: url('/assets/fonts/Inter-Bold.ttf') format('truetype'),
}

@font-face {
    font-family: 'Inter';
    font-weight: 900;
    src: url('/assets/fonts/Inter-Black.ttf') format('truetype'),
}

:root {
    --header-bg: #09273B;
    --footer-bg: #09273B;
    --space-bg: #EEF1F4;
    --space-bg-mob: #F4F7FA;
    --btn-bg: #9BA5B7;
    --icons-contact-bg: #1A679A;
    --btn-border: #1A679A;
    --bg-color: #3695D4;
    --text-color: #09273B;
    --white-color: #FFFFFF;
    --black-color: #000;
    --border-color: #545F71;
    --background-modal: rgba(9, 39, 59, 0.86);
    --error: #FA0000;
    --bg-input: #d4d4d4;
    --book-form: #062539;
    --line-color: #9BA5B7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    font-size: 1rem;
    color: var(--text-color);
}

button:hover,
button:active {
    color: white !important;
}